/* Calendar.module.scss */
.calendarContainer {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    width: 350px;
    height: 240px;
    font-size: 16px;
  
    .calendarHeader {
      width: 100%;
      height: 44px;
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .monthSelect{
        width: 44px;
        height: 44px;
        background-color: white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #e6e6e6;
        }
      }
    }

    .calendarBody {
      width: 100%;
      min-height: 240px;
      display: flex;
      flex-direction: column;
    
      .aweek {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-between;

        .dayButtons{
          display: flex;
          align-items: center; 
          justify-content: center; 
          width: 50px;
          height: 36px;
          background-color: white;
          border: none;
          cursor: pointer;
  
          &:hover {
            background-color: #e6e6e6;
          }
  
          // &:active {
          //   background-color: #006edc;
          //   color: white; 
          // }

          &.currentMonth {
            color: black;
          }
  
          &.nonCurrentMonth {
            color: #757575;
            cursor: not-allowed;
            pointer-events: none;
          }

          &.today {
            background-color: #ffff76;
          }

          &.selectedDate,
          &.startDate {
            background-color: #006edc;
            color: white;

          &:hover {
            background-color: #006edc;
          }
        }
        }
      }

      
    }
  }
  